.app {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 136px;

   padding-bottom: 100px;
}
.app__images {
   max-width: 524px;
   width: 100%;
}
.app__contant {
   max-width: 635px;
}

.list {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;
}
.list__item {
   width: 45%;
}
.list__icon {
   margin-bottom: 8px;
}
.list__title {
   font-weight: 400;
   font-size: 20px;
   line-height: 28px;   
   text-transform: capitalize;
   margin-bottom: 8px;
   
   color: #191D27;
}