.sertific {
   margin-bottom: 134px;
}

.sertific__list {
   display: flex;
   justify-content: space-between;
    
   gap: 30px 30px;
}

.sertific__link {
   display: flex;
   align-items: center;
   max-width: 470px;
}
.sertific__link:hover .sertific__img{
   transform: scale(1.1);
}

.sertific__img {
   width: 159px;
   margin-right: 40px;
   transition: all .3s ease-in;
}

.sertific__title {
   font-weight: 600;
   font-size: 1.5rem;
   line-height: 34px;

   color: #B09355;

   margin-bottom: 24px;
}

.sertific__text {
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;

   color: #FFFFFF;
}



/* POPUP */
.popup {
   position: fixed;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.8);
   top: 0;
   left: 0;

   opacity: 0;
   visibility: hidden;
   overflow-y: auto;
   overflow-x: hidden;

   transition: all .8s ease 0s;
}

.popup:target {
   opacity: 1;
   visibility: visible;
}

.popup:target .popup__content {
   transform: translate(0px, 0);
   opacity: 1;
}

.popup__area {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
}

.popup__body {
   min-height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 30px 10px;
}

.popup__content {
   color: #fff;
   max-width: 662px;
   padding: 50px 50px;
   background: #01040D;
   border-radius: 4px;

   position: relative;
   transition: all .8s ease 0s;
   opacity: 0;
   transform: translate(0px, -100%);
}

.popup__close {
   position: absolute;
   right: 15px;
   top: 15px;
}

.popup__img img{
   min-width: 100%;
   height: 100%;
}


/* responsive */

@media screen and (max-width: 1260px){  
   .sertific-section {
      padding: 94px 0;
   }    
   .sertific {
      flex-wrap: wrap;
   }
}

@media screen and (max-width: 1024px){
   .sertific {
      margin-bottom: 60px;
   }
   .sertific__list {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;
      width: 100%;
   }
}  

@media screen and (max-width: 480px){
   .sertific {
      margin-bottom: 30px;
   }
   .sertific__link {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
   }
   .sertific__item {
      margin-bottom: 40px;
   }
   .sertific__img {
      margin-bottom: 15px;
   }
   .sertific__img {
      margin-right: 0;
      margin-bottom: 15px;
   }
}  