/* Default */
@import "reset.css";

/* Block */
@import "header.css";
@import "technological.css";
@import "services.css";
@import "marketing.css";
@import "app.css";
@import "consultations.css";
@import "contact.css";
@import "humb-menu.css";

@import "footer.css";

/* Global */
.container {
   max-width: 1296px;
   margin: 0 auto;
   
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;

   color: #7D7D7D;
}

body {
   font-family: 'Plus Jakarta Sans', sans-serif;
}

.wrapper-header {
   background: linear-gradient(135deg, #F2E8EB, #D9E4FF);
}
.wrapper {
   background: linear-gradient(135deg, #F2E8EB, #D9E4FF 20%, #fff 60%);
}

/* Title */
.title {
   font-weight: 600;
   font-size: 60px;
   line-height: 78px;
   width: 416px;
   
   text-transform: capitalize;
   
   color: #191D27;
}
.suptitle {
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;   
   
   color: #FF3F33;
}
.subtitle {
   font-weight: 600;
   font-size: 40px;
   line-height: 56px;
   
   text-transform: capitalize;
   
   color: #191D27;
}
.color {
   color: #2893F5;
}

._text-center {
   text-align: center;
}
._mb-15 {
   margin-bottom: 15px;
}
._mb-20 {
   margin-bottom: 20px;
}
._mb-24 {
   margin-bottom: 24px;
}
._mb-30 {
   margin-bottom: 30px;
}
._mb-40 {
   margin-bottom: 40px;
}
._mb-60 {
   margin-bottom: 60px;
}
._mb-70 {
   margin-bottom: 70px;
}
._mt-60 {
   margin-top: 60px;
}
._mr-70 {
   margin-right: 70px;
}
._mt-70 {
   margin-top: 70px;
}
._mt-80 {
   margin-top: 80px;
}

/* Animation text */
.element-animation {
   opacity: 0;
   transform: translateY(20%);
 }
 
 .element-animation.element-show {
   opacity: 1;
   transition: all 1s;
   transform: translateY(0%);
}

/* Responsive */
@media screen and (max-width: 1260px){   
   .title-section {
      margin-bottom: 20px;
   }
   .container {
      padding: 0 15px;
   }
}

@media screen and (max-width: 1024px){   
   .about-block,
   .project-section,
   .services-section,
   .sertific-section,
   .contact-section {
      padding: 50px 0;
   }
   .title-block {
      font-size: 1.8rem;
   }
   .title-block {
      min-width: 85%;
   }
}

@media screen and (max-width: 480px){   
   .about,
   .project,
   .services,
   .sertific,
   .contact {
      justify-content: center;
   }
   .title-section {
      margin-right: 0;
      text-align: center;
   }
   .title-block {
      text-align: center;
      font-size: 2rem;
      max-width: 100%;
   }
}
